<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
  integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div id="button-container" style="margin-top: 35px">
</div>
<script>
  let gateway = "{{checkout.order.gateway | downcase}}".trim()

  if (gateway.includes('slightpay')) {
    // -----------------------------------------CONFIG SLIGHTPAY-----------------------------------------
    let idCommerce = ''
    let keyCommerce = ''
    let mainUrl = 'https://api.slightpay.com'
    let url = `${mainUrl}/pay-button/${idCommerce}?production=false&key=${keyCommerce}&justToken=true`

    let urlPayment = 'https://pagos.slightpay.com'
    //---------------------------------------------------------------------------------------------------

    let subtotal = '{{ checkout.line_items_subtotal_price | money }}'
    let tax = '{{checkout.tax_price | money}}'.replace(/[^0-9.]/g, '')
    let shipping = '{{checkout.shipping_price | money}}'.replace(/[^0-9.]/g, '')
    let discount = 0
    let products = []

    console.log(shipping, tax, 'Envio e Impuesto')
    console.log(`Numero de orden {{ checkout.order.order_number }}`)

    // Checkout  
    {% for line_item in checkout.line_items %}
    console.log('Variante', `{{ line_item.variant.title }}`)
    console.log('Nombre del producto:', `{{ line_item.product.title }}` + ` {{ line_item.variant.title }}`)
    console.log('Costo del producto', Number('{{ line_item.final_price | money}}'.trim().replace(/[^0-9.]/g, '')))
    console.log('Cantidad', Number('{{ line_item.quantity}}'))
    products.push({ name: `{{ line_item.product.title }}` + ` {{ line_item.variant.title }}`, amount: Number('{{ line_item.final_price | money}}'.trim().replace(/[^0-9.]/g, '')), quantity: Number('{{ line_item.quantity}}') })
    {% endfor %}
    console.log(products, 'Productos')

    // Descuentos  
    {% for discount_application in checkout.cart_level_discount_applications %}
    discount = Number('{{ discount_application.total_allocated_amount | money }}'.trim().replace(/[^0-9.]/g, ''))
    console.log(discount)
    {% endfor %}

    if (discount !== 0) {
      products.some((product, key) => {
        let total = product.quantity * product.amount
        let dis
        if (discount <= total) {
          // descuento para el producto de manera equitativa        
          dis = discount / product.quantity
          products[key].amount = product.amount - dis
          return products
        }
      })
    }

    if (Number(tax) === 0) {
      tax = 0
    } else {
      tax = Number(tax)
    }

    let getSlightPayPayment = async () => {
      try {
        let result = await axios.get(url);
        console.log(result.data);

        return result.data
      } catch (e) {
        if (e.message.includes("Request failed with status code 422")) {
          return {
            error: true,
            motivo: "El id de comercio no corresponde a la llave de SlightPay",
          };
        } else {
          return {
            error: true,
            motivo: "Ocurrio un error con la integracion de SlightPay",
          };
        }
      }
    }

    let getPurchaseToken = async (token) => {
      try {
        let result = await axios.post(`${mainUrl}/purchases/create-order`, {
          products,
          tax: Number(tax),
          shippingFee: Number(shipping),
          orderId: Number(`{{ checkout.order.order_number }}`.trim()),
          urlPurchase: window.location.href,
          idTransaction: `{{ checkout.order.id }}`
        }, {
          headers: {
            'Authorization': `Bearer ${token}`,
            'Content-Type': 'application/json'
          }
        })

        console.log(result, 'token purchase')

        return result.data.token
      } catch (e) {
        document.getElementById('button-container').innerHTML = "<p style='color: red'>Lo sentimos! No puedes finalizar el pago de tu compra con SlightPay por que el valor de tu compra excede los límites, ($500 - $6,000) o tu pedido ya ha sido cancelado.</p>"
        return { error: true, motivo: 'Lo sentimos! No puedes finalizar el pago de tu compra con SlightPay por que el valor de tu compra excede los límites, ($500 - $6,000) o tu pedido ya ha sido cancelado.' }
      }
    }

    let slightpayInit = async () => {
      if ('{{ checkout.order.financial_status }}' === 'pending') {
        let tokenCommerce = await getSlightPayPayment()
        console.log(tokenCommerce)
        let tokenPurchase

        if (!tokenCommerce.error) tokenPurchase = await getPurchaseToken(tokenCommerce)
        if (!tokenPurchase.error) window.location.href = `${urlPayment}/${tokenPurchase}`
      }
    }

    slightpayInit()
  }
</script>